# OS/Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
.fleet/
.nova/
.zed/

# Laravel files
.env*
!.env.example
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml
auth.json

# Frontend/build files
/node_modules/
/public/build/
/public/hot/
/public/storage
/storage/*.key
/storage/pail/

# Backend dependencies
/vendor/

# Docker-specific
docker-data/
*.log
docker-compose.override.yml
